<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div>
    <button class="navbar-toggler mr-1" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a routerLink='/home' routerLinkActive='active' class="navbar-brand pointerOnHover">DiscoverYourChess</a>
  </div>

  <div class="collapse navbar-collapse border-left" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isAuthenticated" class="nav-item">
        <a routerLinkActive="active" routerLink="/shop" class="nav-link pointerOnHover" i18n="navigation button|this button redirects user to shop">Shop</a>
      </li>
      <li *ngIf="isAuthenticated" ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown pointerOnHover" i18n="Navigation button|tools button in navbar">Tools</a>
        <div ngbDropdownMenu class="dropdown-menu darkerOnHover my-0 py-0 pointerOnHover" aria-labelledby="dropdownMenuButton">
          <a ngbDropdownItem class="dropdown-item" i18n="navigation button|redirects to list of all user courses">Your courses</a>
          <a routerLink="/pawnShop" routerLinkActive="active" ngbDropdownItem class="dropdown-item" i18n="navigation button| redirects to pawn shop">Pawn shop</a>
          <a ngbDropdownItem class="dropdown-item" i18n="navigation button| redirects to forum">Forum</a>
          <a ngbDropdownItem class="dropdown-item" i18n="navigation button| redirects to difficult moves path">Difficult moves</a>
          <a routerLink="/openingExplorer" routerLinkActive="active" ngbDropdownItem class="dropdown-item" i18n="navigation button| redirects to opening explorer path">Opening explorer</a>
          <a ngbDropdownItem class="dropdown-item" i18n="navigation button|redirects to analysis board path">Analysis board</a>
          <a ngbDropdownItem class="dropdown-item" i18n="navigation button|redirects to openings base">Openings base</a>
          <a ngbDropdownItem class="dropdown-item" i18n="navigation button|redirects to openings bookmarks">Openings bookmarks</a>
          <a ngbDropdownItem class="dropdown-item" i18n="navigation button|redirects to create course path">Create course</a>
          <a ngbDropdownItem class="dropdown-item" i18n="navigation button|redirects to user wishlist">Your wishlist</a>
          <a ngbDropdownItem class="dropdown-item" i18n="navigation button|redirects to friends wishlist">Friends wishlists</a>
        </div>
      </li>
      <li *ngIf="isAuthenticated" class="nav-item pointerOnHover">
        <a routerLink="/premium" routerLinkActive="active" class="nav-link" i18n="navigation button| this button allows you to buy premium version">Premium</a>
      </li>
      <li *ngIf="isAuthenticated" class="nav-item pointerOnHover">
        <a routerLink="/trainers" routerLinkActive="active" class="nav-link" i18n="navigation button| this button redirects user to trainers section">Trainers</a>
      </li>
      <li *ngIf="isAuthenticated" class="nav-item pointerOnHover">
        <a class="nav-link" i18n="navigation button| this button redirects user to trainers section">Help</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li ngbDropdown class="nav-item dropdown">
        <a ngbDropdownToggle class="nav-link dropdown-toggle pointerOnHover" id="choseLanguage" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" i18n="navigation button| change default language of website">English</a>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right darkerOnHover py-0 pointerOnHover" aria-labelledby="choseLanguage">
          <a ngbDropdownItem class="dropdown-item" i18n="navigation button| change default language to polish">Polish</a>
          <a ngbDropdownItem class="dropdown-item" i18n="navigation button| change default language to english">Deutsch</a>
        </div>
      </li>
    </ul>
  </div>

  <ul *ngIf="isAuthenticated" class="navbar-nav">
    <li class="nav-item pointerOnHover">
      <a class="nav-link">
        <span class="badge badge-light badge-pill">20</span>
        <fa-icon [icon]="pawnIcon"></fa-icon>
      </a>
    </li>
    <li class="nav-item pointerOnHover">
      <a class="nav-link">
        <span class="badge badge-light badge-pill">15</span>
        <fa-icon [icon]="cartIcon"></fa-icon>
      </a>
    </li>
    <li ngbDropdown class="nav-item dropdown ">
      <a ngbDropdownToggle class="nav-link dropdown-toggle pointerOnHover" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" i18n="user name|username login nick">
        <fa-icon [icon]="userIcon"></fa-icon>
        WojoBojo
      </a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right darkerOnHover py-0 pointerOnHover" aria-labelledby="userDropdown">
        <div class="dropdown-item">
          <a ngbDropdownItem class="dropdown-item" i18n="navigation button| redirect to user profile">
            <fa-icon [icon]="userIcon"></fa-icon>
            Profile
          </a>
        </div>
        <div class="dropdown-item">
          <a ngbDropdownItem class="dropdown-item" i18n="navigation button| redirect to user settings">
            <fa-icon [icon]="cogIcon"></fa-icon>
            Settings
          </a>
        </div>
        <div class="dropdown-item">
          <a ngbDropdownItem class="dropdown-item" i18n="navigation button| redirect to user settings">
            <fa-icon [icon]="moonIcon"></fa-icon>
            Dark mode
          </a>
        </div>
        <div class="dropdown-item">
          <a ngbDropdownItem class="dropdown-item" (click)="signout()"
            i18n="navigation button| redirect to user settings">
            <fa-icon [icon]="signOutIcon"></fa-icon>
            Sign out
          </a>
        </div>
      </div>
    </li>
    <li ngbDropdown class="nav-item dropdown">
      <a ngbDropdownToggle class="nav-link dropdown-toggle angleDownWrapper pointerOnHover" aria-expanded="false">
        <fa-icon [icon]="bellIcon"></fa-icon>
        <span class="badge badge-danger badge-pill">4</span>
      </a>
      <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right darkerOnHover mx-0 my-0 px-0 py-0 messagesDropdown pointerOnHover">
        <div ngbDropdownItem class="col-12 dropdown-item border-bottom text-right">   
          <a >Read all</a>
        </div>
        <div ngbDropdownItem class="col-12 dropdown-item border-bottom">
          <div class="row justify-content-between">
            <div class="col-auto">
              <span style="font-size: 1em;">
                <fa-icon [icon]="envelopeIcon"></fa-icon>
              </span>
            </div>
            <div class="col">
              <p style="white-space: normal;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus officiis ducimus aliquam debitis unde repudiandae enim qui, distinctio voluptates explicabo ipsum et facere nisi, repellat, vel vitae ab nesciunt quia.</p>
            </div>
          </div>
        </div>
        <div ngbDropdownItem class="col-12 dropdown-item border-bottom">
          <div class="row justify-content-between">
            <div class="col-auto">
              <span style="font-size: 1em;">
                <fa-icon [icon]="envelopeIcon"></fa-icon>
              </span>
            </div>
            <div class="col">
              <p style="white-space: normal;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos ad eius in facere rerum et accusantium veritatis dolorum esse? Consequatur doloribus beatae commodi vitae recusandae cum quo expedita omnis quia?</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>
