<div class="row justify-content-center">
  <div class="col colWithImage">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{error}}</p>
    </div>
    <div *ngIf="isLoading" class="card px-2 py-2" style="background-color: rgba(1, 1, 1, 0.4);">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="card" style="width: 20rem;" *ngIf="!isLoading && !error">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center;">Welcome to our website!</h5>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
          <div class="form-row">
            <div class="col-12 mb-1">
              <!-- <label for="loginOrEmail" class="col-form-label"></label> -->
              <input id="loginOrEmail" class="col form-control" placeholder="email" type="text" 
                ngModel name="email" required email>
            </div>
            <div class="col-12 mb-1">
              <!-- <label for="password" class="col-form-label"></label> -->
              <input id="password" class="col form-control" placeholder="Password" type="password"
                ngModel name="password" required minlength="6">
            </div>
          </div>
          <div class="form-row justify-content-center">
            <div class="col-6">
              <div class="form-check">
                <input type="text" class="form-check-input" type="checkbox" id="rememberPassword">
                <label for="rememberPassword">Remember</label>
              </div>
            </div>
            <div class="col-6">
              <a>Forgot password?</a>
            </div>
            <div class="col-6">
              <button class="btn btn-dark w-100" type="submit" [disabled]="!authForm.valid" (click)="onAuth(authForm, AuthMode.LogInMode)">Log In</button>
            </div>
            <div class="col-6">
              <button class="btn btn-dark w-100" type="submit" [disabled]="!authForm.valid" (click)="onAuth(authForm, AuthMode.SignUpMode)">Sign up</button>
            </div>
          </div>
        </form>
        <hr>
        <p class="card-title" style="text-align: center;">Or connect with</p>
        <div class="row justify-content-around">

            <span class="col-auto googleIconStyle">
              <fa-icon [icon]="googleIcon"></fa-icon>
            </span>
            <span class="col-auto facebookIconStyle">
              <fa-icon [icon]="facebookIcon"></fa-icon>
            </span>
            <span class="col-auto appleIconStyle">
              <fa-icon [icon]="appleIcon"></fa-icon>
            </span>

        </div>
      </div>
    </div>
  </div>
</div>
