<div class="container-fluid">
  <div class="row mainComponentMargins">
    <aside class="col-2 border-right mt-3 mb-0">
      <div class="row">
        <form>
          <h4>Language</h4>
          <div class="from-group pl-3">
            <div class="dropdown">
                <button class="col-8 btn btn-dark dropdown-toggle" type="button" id="language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  English
                </button>
                <div class="dropdown-menu" aria-labelledby="language">
                  <a class="dropdown-item">Action</a>
                  <a class="dropdown-item">Another action</a>
                  <a class="dropdown-item">Something else here</a>
                </div>
              </div>
          </div>
          <h4>Hourly rate</h4>
          <div class="form-group pl-3">
            <div class="form-row mt-1">
              <div class="col-4">
                <div class="form-group">
                  <input class="form-control" type="text" id="priceMin" placeholder="$Min">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <input class="form-control" type="text" id=priceMax placeholder="$Max">
                </div>
              </div>
            </div>
          </div>
          <h4>Title</h4>
          <div class="form-group pl-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="openings">
              <label class="form-check-label" for="openings">
                Openings
              </label>
            </div>
          </div>
          <h4>Price</h4>
          <div class="form-group pl-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="free">
              <label class="form-check-label" for="free">
                Free
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="discount">
              <label class="form-check-label" for="discount">
                Discount
              </label>
            </div>
            <div class="form-row mt-1">
              <div class="col-4">
                <div class="form-group">
                  <input class="form-control" type="text" id="priceMin" placeholder="$Min">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <input class="form-control" type="text" id=priceMax placeholder="$Max">
                </div>
              </div>
            </div>
          </div>
          <h4>Difficulty</h4>
          <div class="form-group pl-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="beginner">
              <label class="form-check-label" for="beginner">
                Beginner
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="intermediate">
              <label class="form-check-label" for="intermediate">
                Intermediate
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="advanced">
              <label class="form-check-label" for="advanced">
                Advanced
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="expert">
              <label class="form-check-label" for="expert">
                Expert
              </label>
            </div>
          </div>
          <h4>Tags</h4>
          <div class="form-group pl-3">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="forWhite">
              <label class="form-check-label" for="forWhite">
                For white
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="forBlack">
              <label class="form-check-label" for="forBlack">
                For black
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="forBlitz">
              <label class="form-check-label" for="forBlitz">
                For blitz
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="new">
              <label class="form-check-label" for="new">
                New
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="yourWishlist">
              <label class="form-check-label" for="yourWishlist">
                Your wishlist
              </label>
            </div>
          </div>
        </form>
      </div>

    </aside>
    <section class="col-10">
      <nav class="navbar navbar-expand navbar-light border-bottom py-0 px-0">
        <ul class="navbar-nav d-flex align-items-end">
          <li class="nav-item">
            <a class="nav-link active py-0">
              <h3>Shop</h3>
            </a>
          </li>
        </ul>
        <form class="form-inline ml-auto">
          <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark my-2" type="submit">Search</button>
        </form>
        <ul class="navbar-nav align-items-center">
          <li ngbDropdown class="nav-item dropdown my-2">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="coursesAmount" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              10 products
            </a>
            <div ngbDropdownMenu class="dropdown-menu darkerOnHover blackOnHover my-0 py-0"
              aria-labelledby="coursesAmount">
              <a ngbDropdownItem class="dropdown-item">20 products</a>
              <a ngbDropdownItem class="dropdown-item">30 products</a>
              <a ngbDropdownItem class="dropdown-item">100 products</a>
            </div>
          </li>
          <li class="nav-item blackOnHover grayColor">
            <span class="ml-2" style="font-size: 2em; font-weight: bold;">
              <!-- <fa-icon [icon]="barsIcon"></fa-icon> -->
            </span>
          </li>
          <li class="nav-item blackOnHover grayColor">
            <span class="mx-2" style="font-size: 2em; font-weight: bold;">
              <!-- <fa-icon [icon]="thLargeIcon"></fa-icon> -->
            </span>
          </li>
        </ul>
      </nav>
      <div class="row mt-2">
        <div class="col-12 mt-4 mb-1 d-flex align-items-center">

          <h6 class="mr-2">Sort: </h6>
          <div ngbDropdown class="dropdown show">
            <h6 ngbDropdownToggle class="dropdown-toggle" role="button" id="sort" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              By Name
            </h6>

            <div ngbDropdownMenu class="dropdown-menu darkerOnHover my-0 py-0" aria-labelledby="sort">
              <a ngbDropdownItem class="dropdown-item">Price: Low to High</a>
              <a ngbDropdownItem class="dropdown-item">Price: High to Low</a>
              <a ngbDropdownItem class="dropdown-item">Avg. Users Review</a>
              <a ngbDropdownItem class="dropdown-item">Newest Arrivals</a>
            </div>
          </div>

        </div>
        <div class="col-6 pr-1">
          <div class="row no-gutters">
            <div class="card py-2 px-3">
              <div class="row">
                  <div class="col-12">
                      <div class="trainerCardHeader border-bottom pb-2">
                        <img src="assets/photos/trainer.jpg" class="trainerImg" alt="course image">
                        <div class="col">
                          <div class="row align-items-center">
                            <div class="col-auto">
                              <app-decimal-rating [currentRate]="currentRate"></app-decimal-rating>
                            </div>
                          </div>
                          <div class="row align-items-center">
                            <div class="col-12 mt-2">
                              <h4 class="card-title"><span style="color: red;">GM</span>WojoBojo</h4>
                            </div>
                            <div class="col-12">
                              <div class="row">
                                  <ul class="pl-3" style="list-style-type:none">
                                      <li>
                                          Country: Poland
                                          <img class="trainerCountryImg" src="../../assets/countryIcons/poland.png"
                                            alt="country flag">
                                      </li>
                                      <li>Languages: english, polish</li>
                                      <li><p>Rating FIDE: std2035, rapid: 1990, blitz: 2134</p></li>
                                  </ul>
                                <p>
                              </div>
                            </div>
                            <div class="col-auto">
                              <p class="mb-0">
                                <!-- <fa-icon [icon]="videoIcon"></fa-icon>1h20min -->
                              </p>
                            </div>
                            <div class="col-auto">
                              <p class="mb-0">
                                <!-- <fa-icon [icon]="graduationIcon"></fa-icon>29 variations -->
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                <div class="col-12">
                  <p class="card-text text-justify mt-1">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus perspiciatis illo deserunt,
                    blanditiis facilis harum voluptatum laudantium reiciendis, incidunt nihil molestias nam ipsum
                    amet autem deleniti, optio earum libero esse.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row justify-content-center mt-3">
        <nav aria-label="Search results pages">
          <ul class="pagination">
            <li class="page-item px-1">
              <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item active px-1"><a class="page-link">1</a></li>
            <li class="page-item px-1"><a class="page-link">2</a></li>
            <li class="page-item px-1"><a class="page-link">3</a></li>
            <li class="page-item px-1">
              <a class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </section>

  </div>
</div>
