<div class="container">
  <div class="row mt-1">
    <div class="col-9">
      <div class="row">
        <div class="col-12">
          <div class="btn btn-dark col-12">
            <div>
              <h5>Next Learning Lesson </h5>
            </div>
            <div>
              <h5>5 hours : 35 mins : 10 s</h5>
            </div>
          </div>

        </div>
        <div class="w-100 mt-1"></div>

        <div class="col-3">
          <div class="btn btn-dark col-12 h-100 d-flex align-items-center justify-content-center">
            Your Courses
          </div>
        </div>
        <div class="col-3">
          <div class="btn btn-dark col-12 h-100 d-flex align-items-center justify-content-center">
            Openings
          </div>
        </div>
        <div class="col-3">
          <div class="btn btn-dark col-12 h-100 d-flex align-items-center justify-content-center">
            Opening bookmarks
          </div>
        </div>
        <div class="col-3">
          <div class="btn btn-dark col-12 h-100 d-flex align-items-center justify-content-center">
            Personalise Quick Access
          </div>
        </div>
        <div class="w-100 mt-1"></div>

      </div>


    </div>
    <div class="col-3" style="background-color: red;">
      <div class="row">
        <div class="col-12">
          Szczegółowe dane
        </div>
      </div>
    </div>
  </div>
</div>
